<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/static/css/main.css">
  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>
  <!--jQuery-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"></script>
  <style>
    form {
      padding: 20px 100px;
    }

    #form6Example1,
    #form6Example2,
    #form6Example7 {
      padding: 50px;
    }

    #botones {
      margin-left: 800px;
    }
  </style>

</head>

<body>
  <form action="/crear" method="POST">
    <h1>New Appointment</h1>
    <!--PACIENTE-->
    <div class="form-outline mb-3" style="width: 22rem">
      <input
        name="usuario"
        class="form-control"
        id="formControlDisabled"
        type="text"
        placeholder="Disabled input"
        value="<%= user.name %>"
        aria-label="disabled input example"
        disabled
      />
      <label class="form-label" for="formControlDisabled"></label>
    </div>

    <!--DATE-->
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <input type="date" name="date" id="form6Example1" class="form-control" required />
          <label class="form-label" for="form6Example1">Date</label>
        </div>
      </div>

      <!--TIME-->
      <div class="col">
        <div class="form-outline">
          <input type="time" name="time" id="form6Example2" class="form-control" required />
          <label class="form-label" for="form6Example2">Time</label>
        </div>
      </div>
    </div>

    <!-- COMPLAIN -->
    <div class="form-outline mb-4">
      <textarea class="form-control" name="complain" id="form6Example7" rows="4" required></textarea>
      <label class="form-label" for="form6Example7">Complain</label>
    </div>

    <!-- BOTONES  -->
    <div id="botones">
      <a href="/" class="btn btn-primary abc" role="button" aria-pressed="true"
      >Cancel</a
      >
      <input type="submit" id="agregarCita" class="btn btn-primary active abc" autocomplete="off" value="Add Appointment"
        aria-pressed="true"/> 
    </div>

  </form>
</body>

</html>